@font-face {
    font-family: Inter;
    src: url(./res/inter.tff);
}

@font-face {
    font-family: InterB;
    src: url(./res/Inter-ExtraBold.ttf);
}

[theme="classic"] {
    --background: #282828;
    --inner-background: #282828;
    --color: #E5E4E4;
}

html {
    height: 100%;
    font-size: Inter;
    background-color: var(--background);
}

body {
    height: 100%;
    margin: 0;
    color: var(--color);
    font-family: Inter;
}

nav[dms] {
    background-color: var(--inner-background);
    color: var(--color);
}